body{
  display: flex;
  background: linear-gradient(100deg, #36d9e2, #27e463, #35e425);
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

h1{
  position: fixed;
  top: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #2769e4;
}

#add{
  height: 200px;
  width: 400px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: #27e463;
  background: #2769e4;
}

#add:hover{
  background: #0a42a9;
}

.div-background{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 90vw;
  background: linear-gradient(100deg, #0287e7, #2759e4, #3225e4);
  z-index: 1;
}

.div-background h1{
  color: black;
  top: 300px
}

.div-background input{
  height: 100px;
  width: 760px;
  font-size: 100px;
} 